*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}

#ToDoList{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 1000px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

#ToDoList h1{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 14px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    list-style: none;
    font-size: 18px;
    padding: 12px;
}

ul li{
    margin-bottom: 15px;
    text-align: left;
}

#tarea{
    background-color: #f0f0f0; 
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

#contenido-tarea {
    margin-bottom: 10px;
    gap: 10px;
}

#textoTarea{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    font-weight: bold;
    color: #002765;
}

#agregar{
    background-color: green;
    color: white;
    font-weight: bold;
}

#eliminar{
    background-color: red;
    color: white;
    padding: 10px 75px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
}